@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply lg:text-[60px] md:text-[48px] text-[35px];
    }
    h2{
        @apply lg:text-[20px] md:text-[17px] text-[14px];
    }
    p{
        @apply text-[14px];
    }
    button{
        @apply text-[14px]
    }

}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
}
